# pandas for Data Science

![Data Science Workflow](img/ds-workflow.png)

## pandas
- When working with tabular data (spreadsheets, databases, etc) **pandas** is the right tool
- **pandas** makes it easy to acquire, explore, clean, process, analyze, and visualize your data
- This basically covers the full Data Science process

## pandas help
- **pandas** is a large tool but also complex
- **pandas** can do (almost) everything with data
    - if you can do it in Excel, you can do it in **pandas**
- **pandas** has a great [Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) to help you
- **pandas** also has great [tutorials](https://pandas.pydata.org/docs/getting_started/index.html)

## What will we cover here?
- Some insights into **DataFrames** (the main datastructure in **pandas**)
- How to work with data

## This course also covers
- Later we will dive into how **pandas** can get data from various sources
    - Web Scraping, Databases, CSV, Parquet, Excel files
- How to combine data from different sources
- How to deal with missing data

## Getting started with pandas
- **pandas** is installed by default in anaconda (JuPyter Notebooks)
- In other environments you can install it with
    - ```pip install pandas```
- To access **pandas** you need to import it
    - ```import pandas as pd```

In [1]:
import pandas as pd

### What is pandas?
- **pandas** is like an Excel sheet - just better
- to learn pandas, let's play with some data

### Read data from CSV
- What is CSV? See this lecture ([Lecture on CSV](https://youtu.be/LEyojSOg4EI))
- ```pd.read_csv(filename, parse_dates, index_col)``` ([docs](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html))
    - ```filename```: The path to the filename
    - ```parse_dates=True```: If True -> try parsing the index (default False)
    - ```index_col=0```: Set the index to be column 0

In [2]:
data = pd.read_csv("./files/aapl.csv")
data.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.988464
1,2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.269150
2,2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.852982
3,2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.505653
4,2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.688080

In [3]:
data2 = pd.read_csv("./files/aapl.csv",parse_dates=True, index_col="Date")#index_col=0) same result
data2.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.988464
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  73.269150
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.852982
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.505653
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.688080

### Always check data
- The ```.head()```: prints the first 5 columns

In [4]:
data2.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.988464
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  73.269150
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.852982
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.505653
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.688080

## Index and columns
- ```.index```: Returns the index
- ```.columns```: Returns the column names in a list

In [5]:
data2.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2021-11-01', '2021-11-02', '2021-11-03', '2021-11-04',
               '2021-11-05', '2021-11-08', '2021-11-09', '2021-11-10',
               '2021-11-11', '2021-11-12'],
              dtype='datetime64[ns]', name='Date', length=472, freq=None)

In [6]:
data2.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

## Each column has a data type
- ```.dtypes```: Returns the data types of each column

In [7]:
data2.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

## The size and shape of data
- ```len(data)```: gives the number of rows in the DataFrame
- ```.shape```: Returns the number of rows and columns in the DataFrame

In [8]:
len(data2)

472

In [9]:
data2.shape

(472, 6)

## Slicing rows and columns
- ```data['Close']```: Select one column (Series)
- ```data[['Open', 'Close']]```: Select multiple columns with specific names
- ```data.loc['2020-05-01':'2021-05-01']```: Select all columns between the dates (including 2021-05-01)
- ```data.iloc[50:55]```: Select all columns between rows 50-55 (excluding 55)

In [10]:
data2['Close']

Date
2020-01-02     75.087502
2020-01-03     74.357498
2020-01-06     74.949997
2020-01-07     74.597504
2020-01-08     75.797501
                 ...
2021-11-08    150.440002
2021-11-09    150.809998
2021-11-10    147.919998
2021-11-11    147.869995
2021-11-12    149.990005
Name: Close, Length: 472, dtype: float64

In [11]:
data2[['Open','Close']]

                  Open       Close
Date
2020-01-02   74.059998   75.087502
2020-01-03   74.287498   74.357498
2020-01-06   73.447502   74.949997
2020-01-07   74.959999   74.597504
2020-01-08   74.290001   75.797501
...                ...         ...
2021-11-08  151.410004  150.440002
2021-11-09  150.199997  150.809998
2021-11-10  150.020004  147.919998
2021-11-11  148.960007  147.869995
2021-11-12  148.429993  149.990005

[472 rows x 2 columns]

In [12]:
data2.loc['2020':'2021']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.988464
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.269150
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.852982
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.505653
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.688080
...,...,...,...,...,...,...
2021-11-08,151.570007,150.160004,151.410004,150.440002,55020900.0,150.440002
2021-11-09,151.429993,150.059998,150.199997,150.809998,56787900.0,150.809998
2021-11-10,150.130005,147.850006,150.020004,147.919998,65187100.0,147.919998
2021-11-11,149.429993,147.679993,148.960007,147.869995,41000000.0,147.869995
2021-11-12,150.399994,147.479996,148.429993,149.990005,63632600.0,149.990005

In [13]:
data2.loc['2020-05':'2020-06'] # 
#data2.loc['2020-05']

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-05-01  74.750000  71.462502  71.562500  72.267502  240616800.0  71.378746
2020-05-04  73.422501  71.580002  72.292503  73.290001  133568000.0  72.388680
2020-05-05  75.250000  73.614998  73.764999  74.389999  147751200.0  73.475143
2020-05-06  75.809998  74.717499  75.114998  75.157501  142333600.0  74.233208
2020-05-07  76.292503  75.492500  75.805000  75.934998  115215200.0  75.001144
2020-05-08  77.587502  76.072502  76.410004  77.532501  133838400.0  76.786293
2020-05-11  79.262497  76.809998  77.025002  78.752502  145946400.0  77.994553
2020-05-12  79.922501  77.727501  79.457497  77.852501  162301200.0  77.103226
2020-05-13  78.987503  75.802498  78.037498  76.912498  200622400.0  76.172256
2020-05-14  77.447502  75.382500  76.127502  77.385002  158929200.0  76.640221
2020-05-15  76.974998  75.052498  75.087502  76.927498  166348400.0  76.187119
2020-05-18  79.125000  77.580002  78.292503  78.739998  135178400.0  77.982170
2020-05-19  79.629997  78.252502  78.757500  78.285004  101729600.0  77.531563
2020-05-20  79.879997  79.129997  79.169998  79.807503  111504800.0  79.039406
2020-05-21  80.222504  78.967499  79.665001  79.212502  102688800.0  78.450134
2020-05-22  79.807503  78.837502  78.942497  79.722504   81803200.0  78.955231
2020-05-26  81.059998  79.125000  80.875000  79.182503  125522000.0  78.420425
2020-05-27  79.677498  78.272499  79.035004  79.527496  112945200.0  78.762093
2020-05-28  80.860001  78.907501  79.192497  79.562500  133560800.0  78.796753
2020-05-29  80.287498  79.117500  79.812500  79.485001  153532400.0  78.720016
2020-06-01  80.587502  79.302498  79.437500  80.462502   80791200.0  79.688103
2020-06-02  80.860001  79.732498  80.187500  80.834999   87642800.0  80.057014
2020-06-03  81.550003  80.574997  81.165001  81.279999  104491200.0  80.497726
2020-06-04  81.404999  80.195000  81.097504  80.580002   87560400.0  79.804474
2020-06-05  82.937500  80.807503  80.837502  82.875000  137250400.0  82.077377
2020-06-08  83.400002  81.830002  82.562500  83.364998   95654400.0  82.562653
2020-06-09  86.402496  83.002502  83.035004  85.997498  147712400.0  85.169823
2020-06-10  88.692497  86.522499  86.974998  88.209999  166651600.0  87.361031
2020-06-11  87.764999  83.870003  87.327499  83.974998  201662400.0  83.166779
2020-06-12  86.949997  83.555000  86.180000  84.699997  200146000.0  83.884819
2020-06-15  86.419998  83.144997  83.312500  85.747498  138808800.0  84.922226
2020-06-16  88.300003  86.180000  87.864998  88.019997  165428800.0  87.172859
2020-06-17  88.849998  87.772499  88.787498  87.897499  114406400.0  87.051537
2020-06-18  88.362503  87.305000  87.852501  87.932503   96820400.0  87.086205
2020-06-19  89.139999  86.287498  88.660004  87.430000  264476000.0  86.588539
2020-06-22  89.864998  87.787498  87.834999  89.717499  135445200.0  88.854019
2020-06-23  93.095001  90.567497  91.000000  91.632500  212155600.0  90.750595
2020-06-24  92.197502  89.629997  91.250000  90.014999  192623200.0  89.148659
2020-06-25  91.250000  89.392502  90.175003  91.209999  137522400.0  90.332153
2020-06-26  91.330002  88.254997  91.102501  88.407501  205256800.0  87.556633
2020-06-29  90.542503  87.820000  88.312500  90.445000  130646000.0  89.574516
2020-06-30  91.495003  90.000000  90.019997  91.199997  140223200.0  90.322250

In [14]:
data2.loc['2020-05-01':'2020-05-10']

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-05-01  74.750000  71.462502  71.562500  72.267502  240616800.0  71.378746
2020-05-04  73.422501  71.580002  72.292503  73.290001  133568000.0  72.388680
2020-05-05  75.250000  73.614998  73.764999  74.389999  147751200.0  73.475143
2020-05-06  75.809998  74.717499  75.114998  75.157501  142333600.0  74.233208
2020-05-07  76.292503  75.492500  75.805000  75.934998  115215200.0  75.001144
2020-05-08  77.587502  76.072502  76.410004  77.532501  133838400.0  76.786293

In [15]:
data2.iloc[50:55] #integer location [include:exclude] iloc[1:6] = 12345

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-03-16  64.769997  60.000000  60.487499  60.552502  322423600.0  59.807819
2020-03-17  64.402496  59.599998  61.877499  63.215000  324056000.0  62.437572
2020-03-18  62.500000  59.279999  59.942501  61.667500  300233600.0  60.909103
2020-03-19  63.209999  60.652500  61.847500  61.195000  271857200.0  60.442413
2020-03-20  62.957500  57.000000  61.794998  57.310001  401693200.0  56.605202

## Arithmetic operations
- Calculating with columns on all rows
    - Example: ```data['Close'] - data['Open']```
- Creating new columns
    - Example: ```data['New'] = data['Open'] - data['Close']```

In [16]:
data2['Close']-data2['Open']

Date
2020-01-02    1.027504
2020-01-03    0.070000
2020-01-06    1.502495
2020-01-07   -0.362495
2020-01-08    1.507500
                ...
2021-11-08   -0.970001
2021-11-09    0.610001
2021-11-10   -2.100006
2021-11-11   -1.090012
2021-11-12    1.560013
Length: 472, dtype: float64

In [17]:
data2['DailyStockGain'] = data2['Close']-data2['Open']

In [18]:
data2.head()

,High,Low,Open,Close,Volume,Adj Close,DailyStockGain
Date,,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.988464,1.027504
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.269150,0.070000
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.852982,1.502495
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.505653,-0.362495
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.688080,1.507500

## Select data
- Select data based boolean expressions
    - Example: ```data['New'] > 0```
    - Example: ```data[data['New'] > 0]```

In [19]:
data2['DailyStockGain']>0

Date
2020-01-02     True
2020-01-03     True
2020-01-06     True
2020-01-07    False
2020-01-08     True
              ...
2021-11-08    False
2021-11-09     True
2021-11-10    False
2021-11-11    False
2021-11-12     True
Name: DailyStockGain, Length: 472, dtype: bool

In [21]:
data2[data2['DailyStockGain']>0]

,High,Low,Open,Close,Volume,Adj Close,DailyStockGain
Date,,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.988464,1.027504
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.269150,0.070000
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.852982,1.502495
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.688080,1.507500
2020-01-09,77.607498,76.550003,76.809998,77.407501,170108400.0,76.274513,0.597504
...,...,...,...,...,...,...,...
2021-10-29,149.940002,146.410004,147.220001,149.800003,124850400.0,149.581696,2.580002
2021-11-02,151.570007,148.649994,148.660004,150.020004,69122000.0,149.801376,1.360001
2021-11-03,151.970001,149.820007,150.389999,151.490005,54511500.0,151.269241,1.100006
2021-11-09,151.429993,150.059998,150.199997,150.809998,56787900.0,150.809998,0.610001
2021-11-12,150.399994,147.479996,148.429993,149.990005,63632600.0,149.990005,1.560013

In [22]:
data2.head()

,High,Low,Open,Close,Volume,Adj Close,DailyStockGain
Date,,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.988464,1.027504
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.269150,0.070000
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.852982,1.502495
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.505653,-0.362495
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.688080,1.507500

## Groupby and value_counts
- Example
```Python
data['Category'] = data['New'] > 0
data.groupby('Category').mean()
```
- Example
```Python
data['Category'].value_counts()
(data['New'] > 0).value_counts()
```

In [23]:
data2['Category'] = data2['DailyStockGain']>0

In [24]:
data2.head()

,High,Low,Open,Close,Volume,Adj Close,DailyStockGain,Category
Date,,,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.988464,1.027504,True
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.269150,0.070000,True
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.852982,1.502495,True
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.505653,-0.362495,False
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.688080,1.507500,True

In [27]:
data2.groupby('Category').mean()

,High,Low,Open,Close,Volume,Adj Close,DailyStockGain
Category,,,,,,,
False,118.26620,115.529327,117.593958,116.201648,1.245267e+08,115.548601,-1.392310
True,113.79496,111.095170,111.814810,113.178203,1.260042e+08,112.481534,1.363393

In [29]:
data2['Category'].value_counts()

True     249
False    223
Name: Category, dtype: int64

In [30]:
(data2['DailyStockGain'] > 0).value_counts()

True     249
False    223
Name: DailyStockGain, dtype: int64